body{
  background-color: black;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 98vw;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: #212121;
  padding: 0px 16px;
}
.first{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.first img{
  height: 45%;
  margin: 8px;
}
.middle{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex: 1;
  padding: 0 15vw;
}
.search{
  height: 40%;
  border: gray 1px solid;
  margin: -1px;
  padding: 2.75px 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.middle .mic{
  height: 35%;
  margin-left: 16px;
  background-color: #121212;
  border-radius: 1000px;
  padding: 8px;
}
.middle input{
  height: 45%;
  flex: 1;
  background-color: #121212;
  border: gray 1px solid;
  padding-left: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.last{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.last img{
  height: 45%;
  margin: 8px;
}
menu{
  background-color: #212121;
  position: fixed;
  left: 0;
  top: 8vh;
  height: 92vh;
  margin: 0;
  width: 15vw;
  overflow-y: hidden;
  padding: 12px;
  transition: overflow-y 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
menu::-webkit-scrollbar-track{
  background-color: #212121;
}
menu:hover{
  overflow-y: scroll;
}
.subscriptions img{
  height: 28px;
}
menu img{
  height: 32px;
}
menu span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-left: 16px;
}
.buttons{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12px;
}
menu hr{
  opacity: 5%;
  margin-left:-12px ;
}
